@model Models.Views.AnagraficaView

@{
    ViewData["Title"] = "Dettaglio Anagrafica";
}
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>@ViewData["Title"]</strong>
                </div>
                <div class="card-body card-block">
                    <div class="form-horizontal"> 
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.CodiceAnagrafica)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.CodiceAnagrafica)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.IsAzienda)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.IsAzienda)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Nome)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Nome)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Cognome)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Cognome)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.RagioneSociale)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.RagioneSociale)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.PartitaIva)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.PartitaIva)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.CodiceFiscale)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.CodiceFiscale)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.TipoAnagrafica)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.TipoAnagrafica.Descrizione)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@Model.AnagraficaId" class="btn btn-success" ><i class="zmdi zmdi-edit"></i> Modifica</a>
                    <a asp-action="Index" class="btn btn-danger"><i class="fa fa-caret-square-o-left"></i> Indietro</a>
                </div>
            </div>
        </div>
    </div>
</div>