@model Models.Tabelle.Indirizzi

@{
    ViewData["Title"] = "Dettaglio Indirizzi";
}

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>@ViewData["Title"]</strong>
                </div>
                <div class="card-body card-block">
                    <div class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Nazione)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Nazione)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Regione)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Regione)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Provincia)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Provincia)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Citta)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Citta)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Denominazione)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Denominazione)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Cap)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Cap)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Numero)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Numero)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Anagrafica)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Anagrafica.AnagraficaId)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.TipoIndirizzo)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.TipoIndirizzo.TipoIndirizzoId)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@Model.AnagraficaId" class="btn btn-success"><i class="zmdi zmdi-edit"></i>
                        Modifica</a>
                    <a asp-action="Index" class="btn btn-danger"><i class="fa fa-caret-square-o-left"></i> Indietro</a>
                </div>
            </div>
        </div>
    </div>
</div>